<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Crear Persona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form>

    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="person.name" [ngModelOptions]="{standalone: true}" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input [(ngModel)]="person.lastName" [ngModelOptions]="{standalone: true}" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Code</ion-label>
      <ion-input [(ngModel)]="person.code" [ngModelOptions]="{standalone: true}" type="tel" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Phone</ion-label>
      <ion-input [(ngModel)]="person.phone" [ngModelOptions]="{standalone: true}" maxlength="10" minlength="10" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Charge</ion-label>
      <ion-input [(ngModel)]="person.charge" [ngModelOptions]="{standalone: true}" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="person.email" [ngModelOptions]="{standalone: true}" type="email" required></ion-input>
    </ion-item>

    <div class="ion-margin-top ion-text-center">
      <ion-button (click)="createPerson()">Guardar</ion-button>
    </div>
  
  </form>
</ion-content>
