<ion-header [translucent]="true" class="transparent-header">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-container">
    <div class="header-content">
      <div>
        <ion-button class="icon" fill="clear" (click)="goMenu()">
          <ion-icon name="arrow-undo"></ion-icon>
        </ion-button>
        <ion-button class="icon" fill="clear" (click)="goHome()">
          <ion-icon name="home"></ion-icon>
        </ion-button>
      </div>
      <div>
        <ion-card-title class="TitleHeader">PARKINGUC</ion-card-title>
      </div>
    </div>

    <div class="content">
      <div class="logo-section">
        <img class="logo" [src]="'assets/LogoParkingUc.png'" alt="LOGO">
      </div>

      <div class="buttons">
        <div class="enter-button">
          <ion-button class="circle-button green-button" (click)="goToEntrada()">
            <span class="button-text">Entrance</span>
          </ion-button>
        </div>

        <div class="enter-button">
          <ion-button class="circle-button red-button" (click)="goToSalida()">
            <span class="button-text">Exit</span>
          </ion-button>
        </div>
      </div>
    </div>

  </div>
</ion-content>