<ion-header [translucent]="true" class="transparent-header">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-container">

    <div class="header-content">
      <ion-button fill="clear" (click)="goHome()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="goHome()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </div>


    <div class="camera" style="margin-top: 20px; display:flex ;">
      <video #videoElement autoplay playsinline class="camera-view"></video>

      <canvas #canvasElement style="display: none;"></canvas>

    </div>

    <div class="Button-camera">
      <ion-button (click)="captureAndSendImage()">Capture</ion-button>
    </div>

    <ion-card class="info-section" style="margin-top: 20px;">
      <ion-card-header>
        <ion-card-title class="Title">Information</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col class="column1">
              <ion-item>
                <ion-label position="stacked">Name</ion-label>
                <ion-input [value]="name" type="text"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Lastname</ion-label>
                <ion-input [value]="lastName" type="text"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Charge</ion-label>
                <ion-select placeholder="Selecciona una opción" interface="popover">
                  <ion-select-option value="Estudiante">Estudiante</ion-select-option>
                  <ion-select-option value="Administrativo">Administrativo</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Vehicle Plate</ion-label>
                <ion-input [(ngModel)]="register.vehiclePlate" [ngModelOptions]="{standalone: true}"
                  type="text"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Data time Entrance</ion-label>
                <ion-input [(ngModel)]="register.dateTimeEntrance" [ngModelOptions]="{standalone: true}"
                  presentation="date-time"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="column2">
              <ion-item>
                <ion-label position="stacked">Code</ion-label>
                <ion-input [(ngModel)]="register.personCode" [ngModelOptions]="{standalone: true}"
                  type="number"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Email</ion-label>
                <ion-input type="email"></ion-input>
                <ion-button fill="clear" slot="end">
                  <ion-icon name="pencil-outline"></ion-icon>
                </ion-button>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Phone</ion-label>
                <ion-input type="tel" maxlength="10" minlength="10"></ion-input>
                <ion-button fill="clear" slot="end">
                  <ion-icon name="pencil-outline"></ion-icon>
                </ion-button>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Vehicle Type</ion-label>
                <ion-input [(ngModel)]="register.vehicleType" [ngModelOptions]="{standalone: true}"
                  type="text"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Data time Exit</ion-label>
                <ion-input [(ngModel)]="register.dateTimeExit" [ngModelOptions]="{standalone: true}"
                  presentation="date-time"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <div class="enter-button" style="margin-top: 20px;">
      <ion-button (click)="createRegister()">Enter</ion-button>
    </div>

  </div>
</ion-content>