<ion-header [translucent]="true" class="transparent-header">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-container">

    <div class="header-content">
      <div>
        <ion-button class="icon" fill="clear" (click)="goMenu()">
          <ion-icon name="arrow-undo"></ion-icon>
        </ion-button>
        <ion-button class="icon" fill="clear" (click)="goHome()">
          <ion-icon name="home"></ion-icon>
        </ion-button>
      </div>
      <div>
        <ion-card-title class="TitleHeader">PARKINGUC</ion-card-title>
      </div>
    </div>

    <div class="logo-section">
      <h1>REGISTROS DE INGRESOS Y SALIDAS</h1>
      <p>Listado de los registros de la Universidad</p>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <table class="records-table">
            <thead>
              <tr>
                <th>Tipo de Vehículo</th>
                <th>Código Persona</th>
                <th>Placa</th>
                <th>Entrada</th>
                <th>Salida</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <!-- Mostrar los registros usando *ngFor -->
              <tr *ngFor="let register of registers">
                <td>{{ register.vehicleType }}</td>
                <td>{{ register.personCode || 'N/A' }}</td>
                <td>{{ register.vehiclePlate }}</td>
                <td>{{ register.dateTimeEntrance }}</td>
                <td>{{ register.dateTimeExit || 'Pendiente' }}</td>
                <td>
                  <ion-button fill="clear" color="danger" (click)="deleteRegister(register.vehiclePlate)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                  </ion-button>
                </td>
              </tr>
            </tbody>
          </table>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
